@use "abstracts/mixins" as mx;
@use "abstracts/functions" as fn;

@layer layouts {
  .content-row {

    @include mx.and-up("tablet") {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: var(--grid-gap);
    }
  }

  .content {
    position: relative;
    container: content / inline-size;

    @include mx.and-up("laptop") {
      --_column-width: calc((100cqi - 5 * var(--grid-gap)) / 6);
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: var(--grid-gap);
    }

    :is(p, li) > code {
      padding-inline: var(--space-1);
      border-radius: var(--space-1);
      white-space: nowrap;
      font-size: 0.875em;
      background-color: var(--color-inline-code);
    }

    :is(p, li) > a {
      color: var(--color-link);
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 0.2em;
      text-decoration-color: var(--color-details);

      &:hover {
        color: var(--color-link-hover);
      }
    }

    &__section {
      grid-column: 1 / span 4;
      scroll-margin-top: calc(var(--header-height) * 1.5);
      position: relative;
      &:not(:first-child) {
        margin-block-start: var(--space-12);
      }
      &:last-child {
        margin-block-end: var(--space-12);
      }

      > :not(aside) {
        max-width: 40rem;
      }
    }

    &__title {
      @include mx.font-setup(
        $font: "heading", 
        $font-size: var(--heading-3),
        $font-weight: var(--font-weight-medium)
      );

      &:not(:first-child) {
        margin-block-start: 1.5em;
      }
    }

    &__subtitle {
      margin-block-start: var(--space-8);
      @include mx.font-setup(
        $font: "heading",
        $font-size: var(--heading-4),
        $font-weight: var(--font-weight-medium)
      );
    }

    &__paragraph, &__list {
      margin-block-start: 1.5em;
      text-wrap: pretty;
      @include mx.font-setup(
        $font: "body", 
        $font-size: var(--text-base)
      );
    }

    &__list {
      padding-inline-start: var(--space-5);
      display: grid;
      row-gap: var(--space-1);
    }

    &__note {
      z-index: 1;
      position: relative;
      max-width: 40rem;
      margin-block: 2em;
      padding: 1.5em 1em 1em;
      border-radius: 0 var(--space-4);
      background-color: var(--color-surface-elevated);

      @include mx.and-up("tablet") {
        border-radius: 0 var(--space-6) 0 var(--space-4);

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: max(0.25em, 1rem);
          height: max(0.25em, 1rem);
          background:
            linear-gradient(var(--color-accent) 0 0) no-repeat,
            linear-gradient(var(--color-accent) 0 0) no-repeat;
          background-size:
            1px calc(100% - max(0.1em, 5px)),
            calc(100% - max(0.1em, 5px)) 1px;
        }
        
        &::before {
          right: 100%;
          bottom: 100%;
          background-position: right top, left bottom;
        }
      
        &::after {
          left: 100%;
          top: 100%;
          background-position: left bottom, right top;
        }
      }

      @include mx.and-up("laptop") {
        margin: 0;
        position: absolute;
        inset-inline-start: calc((4 * var(--_column-width)) + (4 * var(--grid-gap)));
        inline-size: calc((2 * var(--_column-width)) + var(--grid-gap));
      }
    }

    &__note-title {
      @include mx.font-setup(
        $font: "heading",
        $font-size: var(--heading-4),
        $font-weight: var(--font-weight-medium)
      );
      color: var(--color-accent);
    }

    &__note-paragraph, &__note-list {
      margin-block-start: 1.5em;
      @include mx.font-setup($font: "body",
        $font-size: var(--text-base));
    }

    &__note-list {
      padding-inline-start: var(--space-5);
      display: grid;
      row-gap: var(--space-1);
    }

  }
}