@layer layouts {

  .main {
    min-height: calc(100vh - var(--header-height));
    min-height: calc(100dvh - var(--header-height));
    padding-block-start: var(--space-6);
    display: grid;
    grid-template-rows: auto 1fr;
  }

}